# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Dependensi
node_modules/

# Hasil Build Web & Neutralino
dist/
release/
release_installer/

# Environment & Log
.env
*.log
.DS_Store

# Neutralino local storage / cache
.storage/
bin/
release/
release_installer/